* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-style: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* common */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  /* tránh cuộn bị mất */
  max-width: calc(100%-48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  color: #fff;
  font-size: 1.6rem;
  line-height: 50px;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
}

.row {
  display: flex;
  align-items: center;
}

/* header */
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
  background: #fffcf4;
}

.header .nav {
  display: flex;
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  padding: 8px 21px;
  color: #5f5b53;
  font-size: 1.6rem;
}

.nav a:hover,
.nav li.active a {
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}

.nav li.active a::after {
  display: block;
  position: absolute;
  content: "";
  left: 21px;
  bottom: 6px;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .btn-sign-up {
  margin-left: 49px;
  min-width: 144px;
  display: flex;
  justify-content: center;
}

/* hero */
.hero .body {
  display: flex;
}

.hero-page {
  padding: 56px 0 65px;
  background: #fffcf4;
}

.hero .page {
  width: 52%;
}

.hero .Media-block {
  width: 48%;
}

.hero .Media-block {
  position: relative;
}

.hero .Media-block > img {
  width: 470px;
  height: 685px;
  border-radius: 20px;
  object-fit: cover;
}

.hero .list-courses {
  border-radius: 50%;
  padding: 28px 24px;
  position: absolute;
  bottom: 48px;
  right: 0;
  width: 270px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .row .sub-desc {
  color: #5f5b53;
  padding: 6px 0;
  font-size: 1.4rem;
  font-weight: 400;
}

.hero .row .name-courses {
  color: #171100;
  font-family: Poppins;
  padding: 6px 0;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
}

.list-courses .icon {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-right: 16px;
  background: #fff9e8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .title {
  color: #171100;
  font-family: Sen;
  font-size: 5.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: -1.16px;
}

.hero .desc {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.17;
}

/* page */
div.page {
  padding-left: 130px;
}

.page .div {
  margin: 38px 0 48px 0;
  display: flex;
  align-items: center;
}

.page .btn {
  border-radius: 32px;
  background: #ffb900;
  padding: 5px 36px;
  margin-right: 24px;
}

.page .link-video {
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  margin-left: 14px;
}

.page .play-video {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #ffffff;
}

.page .desc {
  margin-top: 22px;
}

.page .row {
  margin-top: 12px;
}

.page strong {
  color: #171100;
  font-family: Sen;
  font-size: 4.4rem;
  font-weight: 700;
  padding-right: 10px;
}
.page strong + strong {
  margin-left: 28px;
}

/* popular */
.popular {
  margin-top: 200px;
}
.popular .title {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}

.popular .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
}

.popular .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular .arrow {
  display: flex;
}

.row .icon {
  border-radius: 50%;
  padding: 20px 22px;
  border: 1px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row .icon + .icon {
  margin-left: 8px;
  margin-right: 6px;
  background: orange;
}

/* image-popular */
.image-popular {
  margin-bottom: 200px;
}

.image-popular .row .star {
  margin-left: auto;
}

.image-popular .list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}

.list .content {
  flex: 1;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.list-content .courses {
  width: 100%;
  height: 278px;
  object-fit: cover;
}

.list-content strong {
  color: #171100;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
}

/* blockquote */
.blockquote-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2e2100;
}

.blockquote .vector {
  display: flex;
  position: absolute;
}

q.blockquote {
  margin-top: 124px;
  width: 740px;
  color: #fff;
  font-family: Poppins;
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5;
}

.blockquote-page .user {
  margin-top: 96px;
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 72px;
}

.blockquote-page .name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: Sen;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
}

.blockquote-page .sub-desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.86;
  margin-bottom: 28px;
}

.blockquote-page .row {
  display: flex;
  align-items: center;
}

.blockquote-page .main {
  padding-bottom: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* eudcation   */

.education .info .title,
.education .info-2 .title {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}

.info .desc,
.info-2 .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
}

.education .content .image,
.education .content .info {
  flex: 1;
}

.education .content .info {
  padding-top: 58px;
  padding-left: 130px;
  margin-top: 200px;
}

.education .content {
  display: flex;
  align-items: center;
}

.education .image {
  display: flex;
  margin-left: -30px;
}

.education .image img {
  margin-left: 30px;
  width: 270px;
  height: 404px;
  object-fit: cover;
  border-radius: 16px;
}

.education .img-1 {
  margin-top: 234px;
}

.education .img-2 {
  margin-top: 200px;
}

.education .info .btn {
  margin-top: 32px;
  background: orange;
  text-align: center;
  min-width: 137px;
}

.education .info-2 {
  padding-top: 71px;
}

.education .image-3 .img-3 {
  width: 470px;
  height: 470px;
  object-fit: cover;
  border-radius: 20px;
}

.education .content-2 {
  margin-top: 200px;
}

/* blog */
.blog {
  padding: 100px 0;
  background: #fffcf4;
}

.blog h2.title {
  margin-bottom: 16px;
  color: #130606;
  text-align: center;
  font-family: Sen;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}

.blog .desc-1 {
  color: #696262;
  text-align: center;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  max-width: 448px;
  margin: 0 auto;
}

.blog .content-blog {
  padding-top: 55px;
  gap: 30px;
  display: flex;
}

.blog .content {
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

.blog .content .image img {
  flex: 1;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.blog .btn {
  margin-left: 20px;
  margin-bottom: 28px;
}

.blog .conten-1 .btn {
  min-width: 118px;
  background: orange;
}

.content-blog p.desc {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 400;
}

.content-blog h3.title {
  color: #171100;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  margin: 0 20px;
}

.blog .page-blog {
  margin: 0 auto;
}

.blog .row-2 {
  margin-top: 20px;
  margin-left: 20px;
}

.blog .row-2 p {
  margin-left: 4px;
}

.blog .content .rectangle {
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
  margin: 12px 20px;
}

.page-blog {
  display: flex;
  justify-content: center;
  align-items: centers;
  padding-top: 38px;
  margin: 0 auto;
}

/* footer */
.footer {
  padding: 96px 135px 0;
  background: #2e2100;
}

.footer .row {
  display: flex;
  padding-bottom: 38px;
  border-bottom: 1px solid #59554b;
}

.footer .row .column {
  width: 21%;
  align-items: center;
}

.footer .row .column:nth-child(1) {
  width: 35%;
  margin-right: 145px;
}
.footer .row .column:nth-child(4) {
  width: 22.1%;
}

.footer .socials {
  display: flex;
}

.footer p.desc {
  margin: 18px 0;
  color: #bfbcb2;
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.85;
}

.footer h3.title {
  color: #fff;
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
}

.footer .column .list a {
  margin: 12px 0;
  color: #bfbcb2;
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.85;
}

.footer .column .list strong {
  color: #fff;
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
}

.rectangle-footer {
  width: 130px;
  height: 1px;
  background: #59554b;
  margin: 14px 0 28px;
}

.footer .socials .icon-social {
  width: 15px;
  height: 15px;
}

.footer .socials img + img {
  margin-left: 20px;
}

.footer .copyright {
  color: #807d74;
  text-align: center;
  margin: 0 auto;
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
}

.footer .copyright {
  color: #807d74;
  font-family: Poppins;
  font-size: 14px;
  padding: 28px 0;
  font-style: normal;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
