* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-style: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: #fffcf4;
}

/* common */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  /* tránh cuộn bị mất */
  max-width: calc(100%-48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  color: #fff;
  font-size: 1.6rem;
  line-height: 50px;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
}

.row {
  display: flex;
  align-items: center;
}

/* header */
.header {
  background: #fffcf4;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .nav {
  display: flex;
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  padding: 8px 21px;
  color: #5f5b53;
  font-size: 1.6rem;
}

.nav a:hover,
.nav li.active a {
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}

.nav li.active a::after {
  display: block;
  position: absolute;
  content: "";
  left: 21px;
  bottom: 6px;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .btn-sign-up {
  margin-left: 49px;
  min-width: 144px;
  display: flex;
  justify-content: center;
}

/* hero */
.hero .body {
  display: flex;
}
.hero-page {
  margin-top: 56px;
}

.hero .page {
  width: 52%;
}

.hero .Media-block {
  width: 48%;
}

.hero .Media-block {
  position: relative;
}

.hero .Media-block > img {
  width: 470px;
  height: 685px;
  border-radius: 20px;
  object-fit: cover;
}

.hero .list-courses {
  border-radius: 50%;
  padding: 28px 24px;
  position: absolute;
  bottom: 48px;
  right: 0;
  width: 270px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .row .sub-desc {
  color: #5f5b53;
  padding: 6px 0;
  font-size: 1.4rem;
  font-weight: 400;
}

.hero .row .name-courses {
  color: #171100;
  font-family: Poppins;
  padding: 6px 0;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
}

.list-courses .icon {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-right: 16px;
  background: #fff9e8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .title {
  color: #171100;
  font-family: Sen;
  font-size: 5.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: -1.16px;
}

.hero .desc {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.17;
}

/* page */
div.page {
  padding-left: 130px;
}

.page .div {
  margin: 38px 0 48px 0;
  display: flex;
  align-items: center;
}

.page .btn {
  border-radius: 32px;
  background: #ffb900;
  padding: 5px 36px;
  margin-right: 24px;
}

.page .link-video {
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  margin-left: 14px;
}

.page .play-video {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #ffffff;
}

.page .desc {
  margin-top: 22px;
}

.page .row {
  margin-top: 12px;
}

.page strong {
  color: #171100;
  font-family: Sen;
  font-size: 4.4rem;
  font-weight: 700;
  padding-right: 10px;

}
.page strong + strong {
    margin-left: 28px;
}
